.header-container {
  display: flex;
  justify-content: center;
  background: gray;
  color: #333;
}

header {
  display: flex;
  gap: 24px;
  font-size: 20px;
  padding: 16px;
  width: 1080px;

  & nav {
    cursor: pointer;

    &.active-link {
      color: white;
    }
  }
}
