:host-context(cdk-dialog-container) {
  display: block;
  background: white;
  filter: drop-shadow(0 0 2em rgba(black, 0.2));
  padding: 16px;
  border-radius: 6px;
}

form {
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 8px;

  > :nth-last-child(1):nth-child(odd) {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    grid-column: 2;
  }
}

.form-field {
  display: flex;
  flex-direction: column;

  label {
    font-size: 12px;
    color: #555;
    margin-bottom: 2px;
  }
}

.form-field-error {
  label {
    color: red;
  }
}

h2 {
  margin-bottom: 8px;
}

.action-buttons {
  margin-top: 8px;
}
